<!DOCTYPE html>
<html>

<head>
  <meta charset="utf-8" />
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <link rel="preconnect" href="https://fonts.googleapis.com">
<link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
<link href="https://fonts.googleapis.com/css2?family=Crimson+Text&family=Parisienne&display=swap" rel="stylesheet">
  <title>@ViewData["Title"] Flavor Town!</title>
  <link rel="stylesheet" href="~/css/styles.css"/>
</head>

<body>
  @RenderBody()
</body>

</html>
