@model TreatBakery.Models.Treat

<h1>Are you sure you want to delete this?</h1>
<hr/>
<div class="container">
@Html.DisplayNameFor(model => model.Name): @Html.DisplayFor(model => model.Description)
@using (Html.BeginForm())
{
  <input type="submit" value="Delete" />
}

<p class="button">@Html.ActionLink("Back to List", "Index")</p>
</div>