@using TreatBakery.Models;

<h1>Treats</h1>
<hr />
<br />
<br />
<div class="container">
  @if (@Model.Count == 0)
  {
    <h3>No Treats have been added yet!</h3>
  }
  else
  {
    <ul>
      @foreach (Treat treat in Model)
      {
        <p>@Html.ActionLink($"{treat.Description}", "Details", new { id = treat.TreatId })</p>
        <br />
      }
    </ul>
  }

  <div class="btn-container">
    <p class="button">@Html.ActionLink("Add new treat", "Create")</p>
    <p class="button">@Html.ActionLink("Home", "Index", "Home")</p>
  </div>

</div>