/* Apply layout to all pages and tag elements */
* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

/* Add shadowbox to form inputs */
input[type="text"],
input[type="email"],
textarea {
  box-shadow: 2px 2px 5px rgba(0, 0, 0, 0.3);
  font-family: 'Crimson Text', serif;
}

/* Balance spacing of each element on each page */
body {
  align-items: center;
  height: 100vh;
  font-family: 'Crimson Text', serif;
}

form {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  width: fit-content;
  max-width: 500px;
  padding: 20px;
  margin: 20px;
  background-color: rgb(164, 222, 219);
  border-radius: 10px;
  box-shadow: 2px 2px 5px rgba(0, 0, 0, 0.3);
  font-family: 'Crimson Text', serif;
  box-shadow: 0 0 8px #91e0e0;
  opacity: 0.8;
}

label {
  margin-bottom: 10px;
  font-family: 'Crimson Text', serif;
  vertical-align: middle;
  font-size: 20px;
  padding-right: 5px;
}

input[type="submit"] {
  margin-top: 20px;
  font-family: 'Crimson Text', serif;
  text-align: center;
}

h1 {
  margin-top: auto;
  margin-bottom: 20px;
  font-family: 'Parisienne', cursive;
  font-weight: 900;
  color: darkslategrey;
  font-size: 64px;
  text-align: center;
}

h2 {
  margin-bottom: 20px;
  font-family: 'Parisienne', cursive;
  font-weight: 600;
  color: darkslategrey;
  font-size: 48px;
  text-align: center;
}

h3 {
  margin-bottom: 20px;
  font-family: 'Parisienne', cursive;
  font-weight: 400;
  color: darkslategrey;
  font-size: 36px;
}



.button {
  font-size: 20px;
  font-weight: 600;
  font-family: 'Parisienne', cursive;
  background-color: #fa9ccb;
  padding: 10px;
  border: none;
  border-radius: 15px;
  box-shadow: 0 0 8px #fa9ccb;
  margin-bottom: 15px;
}

.button:hover {
  font-size: 20px;
  font-weight: 600;
  font-family: 'Parisienne', cursive;
  border: none;
  padding: 10px;
  border-radius: 15px;
  box-shadow: inset 0 0 8px #f9f8fc;
}

p {
  font-family: 'Crimson Text', serif;
  font-size: 20px;
  font-weight: 400;
  color: darkslategrey;
  text-align: center;
  margin-top: 20px;
}

p:hover {
  font-family: 'Crimson Text', serif;
  font-size: 20px;
  font-weight: 400;
  text-decoration: double;
  border: none;
  border-radius: 15px;
  text-shadow: 2px 2px 10px #fa9ccb;

  filter: dropshadow(color=#fa9ccb, offx=2, offy=2);
}


.container {
  background-color: honeydew;
  margin: 0 auto;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin-top: 5rem;
  border: #91e0e0;
  border-style: double;
  padding: 5%;
  width: 75%;
  opacity: 0.8;

}

.btn-containter {
  display: flex;
  flex-direction: row;
}